<li class="card-item--one">
    <div class="card-block">
        <img src={{flags.svg}} alt={{name.official}} class="card-img" width="70" height="50">
    <span class="country-name--one">{{name.official}}</span>
    </div>
    <p class="country-options-item"><b>Capital:</b> {{capital}}</p>
    <p class="country-options-item"><b>Population:</b> {{population}}</p>
    <p class="country-options-item"><b>Languages</b> {{#each languages}}<span>{{this}}, </span>{{/each}}</p>
    
</li>